<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>zero2hero</title>
</head>
<body>
    
    <div id="header">
        <h1 id="main-title">zero2hero</h1>
        <h3>Academia de Programación</h3> 
        <p id="slogan">Aprende a programar desde cero. Desarrolla tus propios proyectos.</p>
    </div>
    
    <div id="courses">
        <h3>Nuestros Cursos</h3>
        <ul>
            <li>Python</li>
            <li>R</li>
            <li>HTML, CSS & JavaScript</li>
            <li>Data Science</li>
            <li>Machine Learning</li>
            <li>SQL</li>
        </ul>
    </div>

    <div id="content">
        <div id="content-content">
            <h3>¿Por qué aprender a programar?</h3>
            <p>La programación es una de las habilidades más demandadas en el mercado laboral actual. Aprender a programar te permitirá desarrollar tus propios proyectos, automatizar tareas, analizar datos y mucho más.</p>
            <p>En zero2hero te enseñaremos a programar desde cero. No necesitas tener conocimientos previos, solo necesitas tener ganas de aprender.</p>
            <p>¿Qué esperas? ¡Inscríbete ya!</p>
        </div>  
    </div>

    <div id="footer">
        <div id="links" class="footer-section">
            <h4 class="footer-title">Vinculos Externos</h4>
            <ul class="footer-list">
                <li>Descarga Python <a href="https://www.python.org/downloads/" target="_blank">(haz click aquí)</a></li>
            </ul>
        </div>
        
        <div id="contact" class="footer-section">
            <h4 class="footer-title">Contáctanos</h4>
            <ul class="footer-list">
                <li><a href="mailto:xblankhallx@gmail.com">Vía Correo</a></li>
            </ul>
        </div>
    </div>


    

</body>
</html>